!!!
%html
  %head
    %link{ href: 'http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400', rel: 'stylesheet',  type: 'text/css' }
    %link{ rel: 'stylesheet', href: '/stylesheets/application.css'}
    %title Cedae, se você quer meu dinheiro, vem pegar o meu cocô!
    %meta{ property: "og:title", content: "Cedae, se você quer meu dinheiro, vem pegar meu cocô!" }
    %meta{ property: "og:description", content: "Clique para participar do boicote geral à Cedae, por 100% de saneamento no Rio!" }
    %meta{ property: "og:url", content: "http://boicote.meurio.org.br" }
    %meta{ property: "og:image", content: "http://boicote.meurio.org.br/images/houses.png" }
    %meta{ property: "og:type", content: "website" }

  %body
    #fb-root
    :javascript      
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=177910022269006";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));

    %header
      .container
        %a.brand{ href: "http://meurio.org.br" }
          Meu Rio
        .signboard
          .label Cariocas boicotando a Cedae
          .numbers{ data: { total: @counter } }
            %span.number 0
            %span.number 0
            %span.number 0
            %span.number 0
            %span.number 0
            %span.number 0
      .banner
        .houses

    .container
      %section#cedae-quer-meu-dinheiro
        %h1 Cedae, se você quer o meu dinheiro, vem pegar o meu cocô!
        
        .content
          %p Em 2012, foram mais de 34 mil ações movidas contra a Cedae, que presta um dos piores serviços públicos do Rio. Mas o STJ ordenou o congelamento de todas essas ações! Ou seja: tiraram nosso penúltimo recurso de exigir um serviço decente de água e esgoto para todos os cariocas. Porém, nós temos uma última carta na manga: o boicote geral a Cedae! Se o governador não rever algumas práticas da empresa que ele deveria vigiar, faremos o boicote a partir do dia 01 de Outubro.

          %p Inscreva-se abaixo para receber instruções precisas de como realizar o boicote!

      %section#participe
        #thanks
          %p Obrigado por se unir a essa mobilização pública! 

          %p Você está comprometido a boicotar a Cedae a partir de 1 de Outubro caso não sejam atendidas as seis demandas por 100% de saneamento no Rio. O boicote ocorrerá com pagamento da sua conta em juízo. Não sepreocupe, em breve enviaremos instruções completas de como fazer isso.

          %p 
            Agora, há duas coisas que você pode fazer para aumentar a sua participação:
            %br
            1. Compartilhar com seus amigos no Facebook o link da página do boicote: 
            %a{ href: "http://boicote.meurio.org.br" } http://boicote.meurio.org.br
            %br
            2. Participar do evento público em frente à NOVA CASA do governador Sérgio Cabral: 
            %a{ href: "http://bit.ly/ocupacoco" } http://bit.ly/ocupacoco

          %p Participe. Mobilize. Nas redes e nas ruas!

          .social-buttons
            .fb-like{ data: { href: "http://boicote.meurio.org.br", width: 450, "show-faces" => "false", send: false } }
            %a.twitter-share-button{ href: "https://twitter.com/share", data: { url: "http://boicote.meurio.org.br", via: "meurio", lang: "pt" } } Tweetar
            :javascript
              !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');

        #form
          %h2 Participe do boicote à CEDAE!

          %form
            .fields
              %input{ type: "text", name: "user[name]", id: "user-name", placeholder: "Escreva seu nome" }
              %input{ type: "text", name: "user[email]", id: "user-email", placeholder: "Escreva seu email" }

            .buttons
              %button
                Quero boicotar!

      %section#por-que
        .blue-title
          %h2 Por que boicotar a Cedae?

        %p A partir do dia 1/10 começaremos um processo em massa de pagamento da conta d’água em juízo. Isso quer dizer que, como bons cidadãos, pagaremos as contas. Mas, não pagaremos à Cedae e sim à Justiça. Assim a empresa não recebe até liberarmos o pagamento e só depois que o Governador se comprometer com as seguintes demandas:

        %dl
          %dt#por-que-1 Revogação do decreto 25.997/2000, que dá super-poderes ao presidente da Cedae.
          %dd No ano 2000, o então governador Anthony Garotinho editou um decreto que autoriza o presidente da Cedae a aumentar as tarifas de água e esgoto de acordo com os gastos da empresa, sem a necessidade de autorização de um órgão regulador. Isso faz com que a conta de água e esgoto aumente mais do que o IPCA (Índice Nacional de Preços ao Consumidor Amplo). Isso tem que acabar! O presidente da Cedae não pode ter esse poder! 

          %dt#por-que-2 Regulação da Cedae antes do fim do mandato. 
          %dd O governador Sergio Cabral editou um decreto no fim do ano passado dizendo que a Cedae passará a agir sob a fiscalização de uma agência reguladora apenas em agosto de 2015. Com isso, Cabral joga para seu sucessor a batata quente. Como a agência que fiscalizará a Cedae já existe, esse prazo deve ser muito menor!
          
          %dt#por-que-3 Investimento do PAC 2 para saneamento na Rocinha. 
          %dd Dos R$ 1,6 bilhão previstos para o PAC 2 da Rocinha, quase metade (700 milhões) serão gastos na implementação de um teleférico, obra que, de acordo com os moradores, não é uma prioridade para a comunidade. Queremos que esse dinheiro seja investido em saneamento básico: a grande necessidade da Rocinha.

          %dt#por-que-4 Pedido de descongelamento de todas as ações movidas contra a Cedae. 
          %dd Uma decisão do STJ congelou todas as ações movidas contra a Cedae na Justiça. Só em 2012, foram mais de 34 mil. O que se diz é que, se todos os processos fossem quitados em um curto espaço de tempo, a empresa iria à falência. A opção de recorrer à Justiça é um direito constitucional e não pode ser revogado!

          %dt#por-que-5 Fim da cobrança de esgoto para quem não tem esgoto.
          %dd Parece piada, mas é verdade. A Cedae cobra taxa de esgoto até de quem vive em áreas onde não há rede coletora de esgoto. É ou não é uma cara de pau?

          %dt#por-que-6 Novo acordo da prefeitura com governo do estado para implantação de saneamento em favelas.
          %dd Em 2007, um convênio assinado entre Prefeitura e Estado fez com que o esgoto de grande parte da Zona Oeste e de todas as favelas do Rio ficasse sob responsabilidade do município. Entretanto, quase nada foi feito nas favelas cariocas.

      %section#duvidas
        .blue-title
          %h2 Dúvidas

        %dl
          %dt Eu posso ser processado ou ficar com o nome sujo? A Cedae pode cortar minha água?
          %dd Não. Se você depositar o valor da sua conta em juízo, você já cumpriu com o seu dever. A diferença é que o valor da sua conta só será repassado à Cedae com a sua autorização.

          %dt Eu moro em prédio ou condomínio e quem paga a conta de água e esgoto é o administrador do condomínio. Como eu faço para participar?
          %dd Em primeiro lugar, você pode mostrar seu compromisso com o boicote se registrando nessa página. Em seguida peça para o seu síndico ou administrador de condomínio depositar a sua parte da conta de água e esgoto em juízo, como explicamos no item um. Por último, converse com os seus vizinhos, explique os motivos dessa ação e convide-os a participarem.

          %dt Vai adiantar alguma coisa? 
          %dd Bom, pensa com a gente como seria se milhares de clientes seus, insatisfeitos, dissessem: “Você vai me vender o seu produto, eu vou pagar por ele, mas você não vai receber nada. E vai ser assim até você melhorar o seu serviço.” Adianta, juntos fazemos a diferença!
      
    %footer
      %a.brand{ href: "http://meurio.org.br" }
        Meu Rio
      
    %script{ src: "http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js" }
    %script{src: "/javascripts/application.js"}
